/**
 * #CSS-we27dMsp
 * @description Custom modal header tabs styles (btn-group overrides and fixed-size modal body layout).
 */

.modal-header-tabs-group {
    /* Reset default btn-group look and align with modal paddings */
    border: none !important;
    border-radius: 0 !important;

    margin-top: -1rem;
    margin-bottom: -1rem;
}

.modal-header-tabs-group .btn-check + .btn {
    border: none !important;
    border-radius: 0 !important;
}

.modal-header-tabs-group .btn-check:checked + .btn-outline-primary {
    background-color: rgba(var(--bs-primary-rgb));
    border-color: rgba(var(--bs-primary-rgb), 0.15);
}

.modal-header-tabs-group.ms-auto.me-2 {
    margin-right: 0 !important; /* override Bootstrap .me-2 */
}

.modal-body-fixed-size {
    /* Fix modal-body size to avoid jumping on tab switch */
    min-width: 450px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
